button {
    background-color: yellow;
    width: 100px;
    height: 40px;
}
#logo{
    text-decoration: center;
    height: 200px;
    padding-left: 500px;
}
.button{
    padding: 20px;
    text-align: center;

}
body{
    background-color: aqua;
}
.presentText{
    padding: 30px;
    text-align: center;
}
#names{
    text-align: center;
}
#divProg{

    background-color: coral;
    padding: 100px;
    visibility: hidden;
}
#inProg{
    text-align: center;

    visibility: inherit;
}