button {
    background-color: yellow;
    width: 100px;
    height: 40px;
}
.button{
    padding-left: 500px;
}
body{
    background-color: aqua;
}
#presentText{
    padding: 30px;
    padding-left: 500px;
}