button {
    background-color: yellow;
    width: 100px;
    height: 40px;
}
.button{
    padding-left: 500px;
}
body{
    background-color: aqua;
}
#presentText{
    padding: 30px;
    padding-left: 500px;
}
#divProg{
    background-color: coral;
    padding: 100px;
    visibility: hidden;
}
#inProg{
    visibility: inherit;
    padding-left: 300px;
}